.thumbnail_cropped {
    height: 80px;
    overflow: hidden;
}

.table {
    font-size: 14px;
}

.deprecated {
    color: darkgray;
}

.table .success,.warning,.danger a {
    white-space: nowrap;
}

.well .table {
    margin-bottom: 0;
    background-color: white;
}

.well .breadcrumb {
    margin-bottom: 0;
    float: left;
}

.well button {
    margin: 2px;
}

.task .avatar, .editor {
    float: right;
}

.about {
    margin-bottom: 10px;
}
.about span {
    padding-right: 6px;
}

.about .glyphicon {
    cursor: pointer;
}

.about .glyphicon-play {
    top: 0;
    padding-right: 4px;
}

.autoruns tr {
    width: 1%;
    white-space: nowrap;
}

.autoruns tr th:nth-child(2) {
    width: 100%;
}

.authoruns .glyphicon {
    cursor: pointer;
}

#launcher_tabs {
    margin-bottom: 14px;
}

.vis-point {
    cursor: pointer;
}

.vis-point + text {
    font-size: 10px;
}

.vis-point:hover + text {
    font-size: 14px;
}

.status-bar {
    width: 200px;
    height: 20px;
}

.status-bar div {
    height: 100%;
    float: right;
    overflow: hidden;
    color: black;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}