<ol class="breadcrumb">
    <li class="active">Запуски тестов</li>
</ol>

<table class="table table-striped autoruns">
    <thead>
        <tr>
            <th></th>
            <th>Набор тестов</th>
            <th>Версия</th>
            <th>Время выполнения</th>
            <th>Статус</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="autorun in autoruns">
            <td>
                {{ autorun.timeAdded | date:'d&nbsp;MMM&nbsp;HH:mm:ss' }}
            </td>
            <td>
                {{ autorun.testSuite.title }}
            </td>
            <td>
                {{ autorun.testpalmVersion }}
            </td>
            <td>
                {{ autorun.time }}
            </td>
            <td ng-if="autorun.status == 'pending'">
                {{ autorun.status }}
            </td>
            <td ng-if="autorun.status != 'pending'">
                <a ng-href="http://teamcity.desktop.dev.yandex.net/viewLog.html?buildId={{ autorun.buildId }}">
                    {{ autorun.status }}
                </a>
            </td>
            <td>
                <a target="_blank" ng-if="autorun.reports.length > 0" ng-repeat="report in autorun.reports"
                   ng-href="http://teamcity.desktop.dev.yandex.net/{{ report }}">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="remove($index)"></span>
            </td>
        </tr>
    </tbody>
</table>