<div class="well well-sm" style="padding: 0;" ng-init="showIssues = false">
    <div>
        <ol class="breadcrumb">
            <li><a href="#/projects">Проекты</a></li>
            <li><a ng-href="#/project?id={{ functionality.project.id }}">{{ functionality.project.title }}</a></li>
            <li class="active">
                <a ng-href="{{ functionality.testpalmUrl }}">{{ functionality.title }}</a>
            </li>
        </ol>
        <button ng-if="status == 'inProgress'" class="btn btn-primary" type="button"
                ng-click="$parent.showIssues = !$parent.showIssues">
            Автоматизируется <span class="badge">{{ functionality.tasks.length }}</span>
        </button>
        <button ng-if="status == 'allClosed'" class="btn btn-success" type="button"
                ng-click="$parent.showIssues = !$parent.showIssues">
            Все задачи выполнены <span class="badge">{{ functionality.tasks.length }}</span>
        </button>
        <button ng-if="status == 'hasOpened'" class="btn btn-danger" type="button"
                ng-click="$parent.showIssues = !$parent.showIssues">
            Необходима автоматизация <span class="badge">{{ functionality.tasks.length }}</span>
        </button>
        <button ng-if="status == 'allOpened'" class="btn btn-danger" type="button"
                ng-click="$parent.showIssues = !$parent.showIssues">
            Автоматизация не началась<span class="badge">{{ functionality.tasks.length }}</span>
        </button>
        <button ng-if="!inEditMode" class="btn btn-link editor" type="button" ng-click="$parent.edit()">
            Редактировать
        </button>
        <button ng-if="inEditMode" class="btn btn-success editor" type="button" ng-click="$parent.save()">
            Сохранить
        </button>
    </div>
    <table class="table table-striped table-hover" ng-if="showIssues">
        <tbody>
            <tr ng-repeat="issue in functionality.tasks" class="task">
                <td ng-class="issue.status == 'closed' ? 'success' : issue.status === 'inProgress' ? 'info' : ''">
                    <a ng-href="https://st.yandex-team.ru/{{ issue.id }}">
                        {{ issue.id }}
                    </a>
                    <a ng-if="issue.user" ng-href="https://staff.yandex-team.ru/{{ issue.user.login }}"
                       title="{{ issue.user.name }}" class="avatar">
                        <img ng-src="https://center.yandex-team.ru/api/v1/user/{{ issue.user.login }}/avatar/18.jpg">
                    </a>
                </td>
                <td>
                    {{ issue.title }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-4">
        <div ng-if="inEditMode || (functionality.user && functionality.user.name)" class="about input-group">
            <span class="input-group-addon" id="user">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </span>
            <input ng-show="$parent.inEditMode" type="text" class="form-control"
                   aria-describedby="user" ng-model="$parent.functionality.user.login" placeholder="Ответственный">
            <div ng-show="!$parent.inEditMode" class="form-control">
                <a href="https://staff.yandex-team.ru/{{ $parent.functionality.user.login }}">
                    {{ $parent.functionality.user.name }}
                </a>
            </div>
        </div>
        <div ng-if="inEditMode || functionality.tz" class="about input-group">
            <span class="input-group-addon" id="tz">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            </span>
            <input ng-show="$parent.inEditMode" type="text" class="form-control"
                   aria-describedby="tz" ng-model="$parent.functionality.tz" placeholder="Техническое задание">
            <div ng-show="!$parent.inEditMode" class="form-control">
                <a ng-href="{{ $parent.functionality.tz }}">Техническое задание</a>
            </div>
        </div>
        <h3>
            Всего проверок: {{ counter.all }}
        </h3>
        <table class="table">
            <thead>
                <tr>
                    <td>
                        <label>
                            <input ng-model="state.automated" type="checkbox"/>
                            Автоматизированно: {{ counter.automated }}
                            <span ng-if="state.automated">( {{ counter.automated / counter.all * 100 | number:2 }}% )</span>
                        </label><br>
                        <label>
                            <input ng-model="state.unautomatible" type="checkbox"/>
                            Невозможно автоматизировать: {{ counter.unautomatible }}
                            <span ng-if="state.unautomatible">( {{ counter.unautomatible / counter.all * 100 | number:2 }}% )</span>
                        </label><br>
                        <label>
                            <input ng-model="state.unautomated" type="checkbox"/>
                            Неавтоматизированно: {{ counter.unautomated }}
                            <span ng-if="state.unautomated">( {{ counter.unautomated / counter.all * 100 | number:2 }}% )</span>
                        </label>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label>
                            <input ng-model="state.deprecated" type="checkbox"/>
                            Устарело: {{ functionality.testcases.deprecated.length }}
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        <vis-graph2d data="functionality.statistics"></vis-graph2d>
        <div class="test_cases" ng-if="inEditMode || functionality.testSuites.length">
            <h3>
                Наборы тестов:
            </h3>
            <div class="input-group about" ng-repeat="suite in $parent.functionality.testSuites">
                <input type="text" class="form-control" placeholder="id набора"
                       ng-show="$parent.inEditMode" ng-model="suite.id">
                <div ng-show="!$parent.inEditMode" class="form-control">
                    <span ng-if="suite.status == 'ready'" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <a ng-href="https://testpalm.yandex-team.ru/abro/testsuite/{{ suite.id }}">
                        {{ suite.title }}
                    </a>
                </div>
                <span class="input-group-addon">
                    <span ng-if="!$parent.inEditMode" class="glyphicon glyphicon-play" aria-hidden="true"
                          ng-click="$parent.showLauncher($parent.$index)"></span>
                    <span ng-if="$last && $parent.inEditMode" class="glyphicon glyphicon-plus" aria-hidden="true"
                          ng-click="$parent.$parent.addSuite()"></span>
                    <span ng-if="!$last && $parent.inEditMode && $parent.functionality.testSuites.length > 0"
                          class="glyphicon glyphicon-minus" aria-hidden="true"
                          ng-click="$parent.$parent.removeSuite($parent.$index)"></span>
                </span>
            </div>
            <div class="modal fade" id="launcher" tabindex="-1" role="dialog" aria-labelledby="label">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="label">{{ $parent.autorun.testSuite.title }}</h4>
                        </div>
                        <div class="modal-body">
                            <ul class="nav nav-tabs" role="tablist" id ="launcher_tabs">
                                <li role="presentation" class="active">
                                    <a href="" aria-controls="launcher_app" role="tab" data-target="#launcher_app"
                                       ng-click="$parent.showAppTab()">Ссылки на apk</a>
                                </li>
                                <li role="presentation">
                                    <a href="" aria-controls="launcher_build" role="tab" data-target="#launcher_build"
                                       ng-click="$parent.showBuildTab()">Сборка Teamcity</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="launcher_app">
                                    <div class="form-group">
                                        <label for="app_url" class="control-label">
                                            Ссылка на приложение (ARM):
                                        </label>
                                        <input type="text" class="form-control" id="app_url"
                                               ng-model="$parent.autorun.parameters['system.bro.regression.app_url']">
                                    </div>
                                    <div class="form-group">
                                        <label for="app_old_url" class="control-label">
                                            Ссылка на предыдущую версию приложения (ARM):
                                        </label>
                                        <input type="text" class="form-control" id="app_old_url"
                                               ng-model="$parent.autorun.parameters['system.bro.regression.app_old_url']">
                                    </div>
                                    <div class="form-group">
                                        <label for="app_x86_url" class="control-label">
                                            Ссылка на приложение (X86):
                                        </label>
                                        <input type="text" class="form-control" id="app_x86_url"
                                               ng-model="$parent.autorun.parameters['system.bro.regression.app_x86_url']">
                                    </div>
                                    <div class="form-group">
                                        <label for="x86_old_url" class="control-label">
                                            Ссылка на старую версию приложения (X86):
                                        </label>
                                        <input type="text" class="form-control" id="x86_old_url"
                                               ng-model="$parent.autorun.parameters['system.bro.regression.app_x86_old_url']">
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="launcher_build">
                                    <div class="form-group">
                                        <label for="build_id" class="control-label">
                                            Номер сборки:
                                        </label>
                                        <input type="text" class="form-control" id="build_id"
                                               ng-model="$parent.autorun.parameters['teamcity.build.id']">
                                    </div>
                                    <div class="form-group">
                                        <label for="old_build_id" class="control-label">
                                            Номер сборки с предыдущей версией приложения:
                                        </label>
                                        <input type="text" class="form-control" id="old_build_id"
                                               ng-model="$parent.autorun.parameters['teamcity.old.build.id']">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="version" class="control-label">Версия для Testpalm:</label>
                                <select class="form-control" id="version"
                                        ng-model="$parent.autorun.parameters['system.bro.regression.testpalm_version']">
                                    <option ng-repeat="version in $parent.functionality.versions"
                                            value="{{ version.id }}"
                                            ng-selected="version.id.indexOf('No version') !== -1">
                                        {{ version.title }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="$parent.closeLauncher()">
                                Отмена
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="$parent.launch()">
                                Запустить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-hover">
            <tbody>
                <tr ng-repeat="test in functionality.testcases.automated"
                    ng-if="state.automated && (state.deprecated || !test.deprecated)">
                    <td class="success">
                        <a ng-href="https://testpalm.yandex-team.ru/testcase/{{ functionality.project.id }}-{{ test.test.id }}">
                            {{ functionality.project.id }}-{{ test.test.id }}
                        </a>
                    </td>
                    <td ng-class="test.deprecated ? 'deprecated' : ''">
                        {{ test.test.name }}
                    </td>
                </tr>
                <tr ng-repeat="test in functionality.testcases.unautomatible"
                    ng-if="state.unautomatible && (state.deprecated || !test.deprecated)">
                    <td class="warning">
                        <a ng-href="https://testpalm.yandex-team.ru/testcase/{{ functionality.project.id }}-{{ test.test.id }}">
                            {{ functionality.project.id }}-{{ test.test.id }}
                        </a>
                    </td>
                    <td ng-class="test.deprecated ? 'deprecated' : ''">
                        {{ test.test.name }}
                    </td>
                </tr>
                <tr ng-repeat="test in functionality.testcases.unautomated"
                    ng-if="state.unautomated && (state.deprecated || !test.deprecated)">
                    <td class="danger">
                        <a ng-href="https://testpalm.yandex-team.ru/testcase/{{ functionality.project.id }}-{{ test.test.id }}">
                            {{ functionality.project.id }}-{{ test.test.id }}
                        </a>
                    </td>
                    <td ng-class="test.deprecated ? 'deprecated' : ''">
                        {{ test.test.name }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>