<html lang="en" ng-app="teststatApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TestStat</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/ngprogress/ngProgress.css" rel="stylesheet">
    <link href="/bower_components/vis/dist/vis.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/bower_components/ngprogress/build/ngprogress.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/vis/dist/vis.js"></script>
    <script src="/js/controllers/settingsController.js"></script>
    <script src="/js/controllers/projectsController.js"></script>
    <script src="/js/controllers/projectController.js"></script>
    <script src="/js/controllers/autorunsController.js"></script>
    <script src="/js/controllers/releasesController.js"></script>
    <script src="/js/controllers/topsuitesController.js"></script>
    <script src="/js/controllers/nightlyController.js"></script>
    <script src="/js/controllers/functionalityController.js"></script>
    <script src="/js/directives/progressGraphDirective.js"></script>
    <script src="/js/services/apiService.js"></script>
    <script src="/js/services/userService.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>
    <nav class="navbar navbar-default" ng-controller="HeaderController">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/#/">TestStat</a>
            </div>
            <ul class="nav navbar-nav" ng-if="loggedIn">
                <li>
                    <a href="/#/autoruns">Запуски автотестов</a>
                </li>
            </ul>
            <ul class="nav navbar-nav" ng-if="loggedIn">
                <li>
                    <a href="/#/releases?id=abro">Статистика автоматизации релизов</a>
                </li>
            </ul>
            <ul class="nav navbar-nav" ng-if="loggedIn">
                <li>
                    <a href="/#/topsuites?id=abro">Статистика прохождения сьютов</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!loggedIn"><a href="/login">Войти</a></li>
                <li ng-if="loggedIn"><a href="#" ng-click="logout()">Выйти</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid" ng-style="loading ? {'display': 'none'} : {}">
        <div ng-view></div>
    </div>
</body>
</html>