<a href="https://testpalm.yandex-team.ru/abro/testruns?testSuite.id=578fb46c8895507f4dfe2a63">Ночные запуски</a>

<nightly data="days"></nightly>


<table class="table table-striped">
    <thead>
    <tr>
        <th>Проверка</th>
        <th>Число падений</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="problem in problems">
        <td>
            <a ng-style="problem.today ? {'font-weight': 'bold'} : {}"
               ng-href="https://testpalm.yandex-team.ru/testcase/abro-{{ problem.id }}">
                {{ problem.name }}
            </a>
        </td>
        <td>
            {{ problem.count }}
        </td>
    </tr>
    </tbody>
</table>