<ol class="breadcrumb">
    <li class="active">Проекты</li>
</ol>

<div class="row">
    <div class="col-md-2" ng-repeat="project in projects">
        <div class="thumbnail thumbnail_cropped">
            <div class="caption">
                <a ng-href="#/project?id={{ project.id }}"><h4 class="">{{ project.title }}</h4></a>
            </div>
        </div>
    </div>
</div>