<ol class="breadcrumb">
    <li><a href="#/projects">Проекты</a></li>
    <li class="active">{{ project.title }}</li>
</ol>
<p>{{ project.description }}</p>

<div class="row">
    <div class="col-md-4">
        <h3>
            Всего: {{ counter.all }}
        </h3>
        <label>
            <input ng-model="state.automated" type="checkbox"/>
            Автоматизированно: {{ counter.automated }}
            <span ng-if="state.automated">( {{ counter.automated / counter.all * 100 | number:2 }}% )</span>
        </label><br>
        <label>
            <input ng-model="state.unautomatible" type="checkbox"/>
            Невозможно автоматизировать: {{ counter.unautomatible }}
            <span ng-if="state.unautomatible">( {{ counter.unautomatible / counter.all * 100 | number:2 }}% )</span>
        </label><br>
        <label>
            <input ng-model="state.unautomated" type="checkbox"/>
            Неавтоматизированно: {{ counter.unautomated }}
            <span ng-if="state.unautomated">( {{ counter.unautomated / counter.all * 100 | number:2 }}% )</span>
        </label>
        <automationstatus data="project.statistics"></automationstatus>
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        <b ng-click="sortByName()" style="cursor: pointer">Функциональность</b>
                    </th>
                    <th>
                        <b ng-click="sortByCount()" style="cursor: pointer">Всего кейсов</b>
                    </th>
                    <th>
                        <b ng-click="sortByAutomated()" style="cursor: pointer">Автоматизировано</b>
                    </th>
                    <th>
                        Ответственный
                    </th>
                    <th>
                        ТЗ
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="functionality in project.functionalities">
                    <td>
                        <a ng-href="#/functionality?project={{ project.id }}&value={{ functionality.title }}">
                            {{ functionality.title }}
                        </a>
                        <a ng-repeat="task in functionality.tasks"
                           ng-href="https://st.yandex-team.ru/{{ task.id }}"
                           title="{{ task.title }} [ {{ task.status }} ]">
                            <img ng-src="https://center.yandex-team.ru/api/v1/user/{{ task.user.login }}/avatar/18.jpg">
                            <span ng-if="!task.user.login" class="glyphicon glyphicon-exclamation-sign"
                                  aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        {{ functionality.statistics.automated + functionality.statistics.unautomated }}
                    </td>
                    <td ng-if="functionality.statistics.automated > 0">
                        {{ functionality.statistics.automated / (functionality.statistics.automated + functionality.statistics.unautomated) * 100 | number:2 }}%
                    </td>
                    <td ng-if="functionality.statistics.automated == 0">
                        0.00%
                    </td>
                    <th>
                        <a ng-if="functionality.user.login"
                           href="https://staff.yandex-team.ru/{{ functionality.user.login }}">
                            {{ $parent.functionality.user.name }}
                        </a>
                    </th>
                    <th>
                        <a ng-if="functionality.tz" ng-href="{{ functionality.tz }}">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>