<div class="form-group">
    <label for="version" class="control-label">Версия приложения:</label>
    <select class="form-control" id="version" ng-model="version">
        <option ng-repeat="version in versions"
                value="{{ version.id }}"
                ng-selected="version.title.indexOf('No version') !== -1">
            {{ version.title }}
        </option>
    </select>
</div>
<div ng-if="testruns.length > 0">
    <label ng-repeat="priority in priorities">
        <input type="checkbox" ng-model="priority.selected" ng-click="calculate()"/> {{ priority.title }} &nbsp;&nbsp;&nbsp;
    </label>
    <div class="thumbnail">
        <h4>Статистика по релизу:</h4>
        Всего тестов: {{ statistics.all }}<br><br>
        Неавтоматизировано: {{ statistics.unautomated.length }}<br>
        Не запускалось: {{ statistics.not_started.length }}<br><br>
        Запускалось: {{ statistics.started }}
        ({{ (statistics.started / statistics.all * 100).toFixed(2) }}%)<br>
        Выполнено полностью автоматически: {{ statistics.finished_by_teamcity.length }}
        ({{ (statistics.finished_by_teamcity.length / statistics.started * 100).toFixed(2) }}%)<br>
        Перепроверено вручную: {{ statistics.finished_by_user.length }}
        ({{ (statistics.finished_by_user.length / statistics.started * 100).toFixed(2) }}%)
    </div>

    <h4>Пройдено автоматически</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" ng-model="selected_suites.auto" ng-click="selectAll()"/>
                </th>
                <th>Сьют</th>
                <th>Всего</th>
                <th></th>
                <th>Запускалось</th>
                <th>Проверено автоматически</th>
                <th>Перепроверено</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="testrun in testruns" ng-if="testrun.external">
                <td>
                    <input type="checkbox" ng-model="testrun.selected" ng-click="calculate()"/>
                </td>
                <td>
                    <a ng-href="https://testpalm.yandex-team.ru/{{ $parent.projectId }}/testrun/{{ testrun.id }}">
                        {{ testrun.title }}
                    </a>
                    <a ng-href="{{ testrun.link }}">
                        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                    </a>
                </td>
                <td>{{ testrun.statistics.all }}</td>
                <td>
                    <div class="status-bar">
                        <div title="{{ testrun.statistics.broken.length }}"
                             style="width: {{ testrun.statistics.broken.length / testrun.statistics.started * 100 }}%; background-color: yellow">
                            {{ (testrun.statistics.broken.length / testrun.statistics.started * 100).toFixed(0) }}%
                        </div>
                        <div title="{{ testrun.statistics.failed.length }}"
                             style="width: {{ testrun.statistics.failed.length / testrun.statistics.started * 100 }}%; background-color: red">
                            {{ (testrun.statistics.failed.length / testrun.statistics.started * 100).toFixed(0) }}%
                        </div>
                        <div title="{{ testrun.statistics.passed.length }}"
                             style="width: {{ testrun.statistics.passed.length / testrun.statistics.started * 100 }}%; background-color: green">
                            {{ (testrun.statistics.passed.length / testrun.statistics.started * 100).toFixed(0) }}%
                        </div>
                    </div>
                </td>
                <td>{{ testrun.statistics.started }}
                ({{ (testrun.statistics.started / testrun.statistics.all * 100).toFixed(2) }}%)</td>
                <td>{{ testrun.statistics.finished_by_teamcity.length }}
                    ({{ (testrun.statistics.finished_by_teamcity.length / testrun.statistics.started * 100).toFixed(2) }}%)</td>
                <td>{{ testrun.statistics.finished_by_user.length }}
                ({{ (testrun.statistics.finished_by_user.length / testrun.statistics.started * 100).toFixed(2) }}%)</td>
                <td>{{ testrun.startedTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            </tr>
        </tbody>
    </table>

    <h4>Пройдено вручную</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" ng-model="selected_suites.hand" ng-click="selectAll()"/>
                </th>
                <th>Сьют</th>
                <th>Всего</th>
                <th>Неавтоматизировано</th>
                <th>Запускалось</th>
                <th>Проверено автоматически</th>
                <th>Перепроверено</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="testrun in testruns" ng-if="!testrun.external">
                <td>
                    <input type="checkbox" ng-model="testrun.selected" ng-click="calculate()"/>
                </td>
                <td>
                    <a ng-href="https://testpalm.yandex-team.ru/{{ $parent.projectId }}/testrun/{{ testrun.id }}">
                        {{ testrun.title }}
                    </a>
                </td>
                <td>{{ testrun.statistics.all }}</td>
                <td>{{ testrun.statistics.unautomated.length }}</td>
                <td>{{ testrun.statistics.started }}
                ({{ (testrun.statistics.started / testrun.statistics.all * 100).toFixed(2) }}%)</td>
                <td>{{ testrun.statistics.finished_by_teamcity.length }}
                    ({{ (testrun.statistics.finished_by_teamcity.length / testrun.statistics.started * 100).toFixed(2) }}%)</td>
                <td>{{ testrun.statistics.finished_by_user.length }}
                ({{ (testrun.statistics.finished_by_user.length / testrun.statistics.started * 100).toFixed(2) }}%)</td>
                <td>{{ testrun.startedTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            </tr>
        </tbody>
    </table>
</div>