<ol class="breadcrumb">
    <li class="active">Настройки</li>
</ol>

<div class="input-group">
    <span class="input-group-addon">TC BUILD ID</span>
    <input type="text" class="form-control" ng-model="settings.teamcityBuild">
</div>
<div class="input-group">
    <span class="input-group-addon">TESTPALM PROJECT</span>
    <input type="text" class="form-control" ng-model="settings.testpalmProjectId">
</div>
<div class="input-group">
    <span class="input-group-addon">MONITOR CRON</span>
    <input type="text" class="form-control" ng-model="settings.monitorCron">
</div>
<button class="btn btn-success" type="button" ng-click="save()">
    Сохранить
</button>