<table class="table table-striped">
    <thead>
    <tr>
        <th>Сьют</th>
        <th>Версии</th>
        <th>Статус автоматизации</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="suite in suites">
        <td>
            <a ng-href="https://testpalm.yandex-team.ru/abro/testsuite/{{ suite.id }}">{{ suite.title }}</a>
        </td>
        <td>
            ( {{ suite.versions.length }} )
            <i ng-repeat="version in suite.versions">
                {{ version }}
            </i>
        </td>
        <td>
            {{ suite.status.automated / (suite.status.all - suite.status.deprecated - suite.status.unautomatible - suite.status.normal) * 100 | number:2 }}%
            ( {{suite.status.all - suite.status.deprecated - suite.status.unautomatible - suite.status.normal - suite.status.automated}} )
        </td>
    </tr>
    </tbody>
</table>
